@{
    ViewBag.Title = "Sobre o Átom";
}
<h3>Robô de Led Átom</h3>
<hr />

<div class="alert alert-info">
    <p style="text-align:center; font-size:18px;">Veja as característicado do robô para o seu evento!</p>
</div>

<div class="row">
    <div class="col-md-3 col-lg-3 col-xs-12 col-sm-12" style="text-align:center">
        <img src="~/Content/imgs/aboutAtomc.jpg" style="width:345px; height:355px" class="img-thumbnail"  />
    </div>
  
    <div class="col-md-6 col-lg-6 col-xs-12 col-sm-12">
        <br />
        <ol>
            <li>Armadura completa com designer futuristico e inovador.</li>
            <li>Pernas de Aluminio (Fabricação Fox)</li>
            <li>Capacete Fox 01</li>
            <li>Bazuca de co2</li>
            <li>Laser verde</li>
            <li>Magueira de co2  de 2.5 metros com as conexões</li>
            <li>Altura 2.70</li>
            <li>Armadura do robô totalmente iluminada</li>
        </ol>
    </div>
</div>
