
@{
    ViewBag.Title = "Videos";
    var pageSize = 0;
    var pageNumber = 0;
    var _class = "";
}
<h4>Galeria de Vídeos</h4>
<hr />



<div style="width:90%; margin:auto;">
    <div id="carousel-example-generic" class="carousel slide">
        <div class="carousel-inner">

            @while (pageSize++ < 12)
            {
                _class = pageSize == 1 ? "item active" : "item";

                <div class="@_class">
                    <div class="row">
                        @while (pageNumber++ < 3)
                        {
                            <div class="col-md-4" style="height:240px; border:2px solid red;">teste @pageNumber</div>
                            <div class="carousel-caption">
                                <h3>@pageNumber</h3>
                                <p>@pageSize</p>
                            </div>
                        }
                    </div>
                </div>
                pageNumber = 0;
            }
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
            <span class="icon-prev text-primary"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
            <span class="icon-next text-primary"></span>
        </a>
    </div>
</div>

@*<video width="426" height="240">
    <source src="video.mp4" type="video/mp4">
    <source src="video.webm" type="video/webm">

    <object width="426" height="240">
        <param name="movie" value="http://www.youtube.com/v/-TdbsZg6CC4"></param>
        <param name="allowFullScreen" value="true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed src="http://www.youtube.com/v/-TdbsZg6CC4"
               type="application/x-shockwave-flash"
               allowscriptaccess="always"
               allowfullscreen="true"
               width="426"
               height="240">
        </embed>
    </object>*@
</video>